<% if flash.has?(:movie) %>
<% binding.pry %>
<%= flash[:movie] %>
<% end %>

<h2><%= @movie.name %></h2>
<p><%= @movie.year %></p>
<h3>Director</h3>
<p><%= @movie.director.name %></p>
<h3>Genre(s)</h3>
    <ul>
        <% @movie.genres.each do |genre| %>
        <li><%= genre.name %></li>
        <% end %>
    </ul>

<h3>Format(s)</h3>
    <ul>
            <% @movie.formats.each do |format| %>
            <li><%= format.name %></li>
            <% end %>
    </ul>
<h3>Description</h3>
<p><%= @movie.description %></p>

<p>
     <form method="post" action="/movies/<%= @movie.slug %>">
        <input type="hidden" id="hidden" name="_method" value="delete"></input>
        <input type="submit" value="Delete"></input>
     </form>
</p>

<a href="/movies/<%= @movie.slug %>/edit">Edit</a>
<a href="/user">Home</a>
<a href="/user/logout">Logout</a>
